<!doctype html>
<html>

<head th:replace="user/fragments/head :: head"></head>

<body>
    <!-- Navigation-->
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" th:fragment="nav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand fw-bold" th:href="@{/home}"><span class="text-primary">SGU</span>Charity</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home}">Trang Chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Danh Mục Từ Thiện</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="">Hỗ trợ học tập</a></li>
                            <li><a class="dropdown-item" href="">Hỗ trợ sinh hoạt</a></li>
                            <li><a class="dropdown-item" href="">Hỗ trợ y tế</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="">Chương Trình Từ Thiện</a></li>

                </ul>
                <div>
                    <a th:href="@{/register}" class="btn btn-secondary mx-2" type="submit">
                        Đăng Ký
                    </a>
                    <a th:href="@{/login}" class="btn btn-primary" type="submit">
                        Đăng Nhập
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container pb-3 p-4">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
            Đăng ký tài khoản thành công. Bạn có thể <a href="/login">Đăng Nhập</a>
        </div>
        <div class="card-body p-4 row ">
            <form method="POST" th:action="@{/register}" th:object="${registrationDto}"
                class=" col-lg-6 col-md-9 col-sm-12 mx-auto">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div class="border rounded p-4 ">
                    <h5 class="text-center mb-3">Đăng Ký</h5>
                    <div class=" from-group mb-3">
                        <label for="fullName" class="mb-2">Họ và tên</label>
                        <input th:field="*{fullName}" class="form-control" type="text" id="fullName" name="fullName" />
                        <p th:if="${#fields.hasErrors('fullName')}" th:errorClass="text-danger" th:errors="*{fullName}">
                        </p>
                    </div>
                    <div class=" from-group mb-3">
                        <label for="phone" class="mb-2">Số điện thoại</label>
                        <input th:field="*{phone}" class="form-control" type="text" id="phone" name="phone" />
                        <p th:if="${#fields.hasErrors('phone')}" th:errorClass="text-danger" th:errors="*{phone}"></p>
                    </div>
                    <div class=" form-group mb-3">
                        <label for="email" class="mb-2">Email</label>
                        <input th:field="*{email}" class="form-control" type="email" id="email" name="email" />
                        <p th:if="${#fields.hasErrors('email')}" th:errorClass="text-danger" th:errors="*{email}"></p>
                    </div>
                    <div class=" form-group mb-3">
                        <label for="password" class="mb-2">Mật khẩu</label>
                        <input th:field="*{password}" class="form-control" type="password" id="password"
                            name="password" />
                        <p th:if="${#fields.hasErrors('password')}" th:errorClass="text-danger" th:errors="*{password}">
                        </p>
                    </div>
                    <div class=" form-group mb-3">
                        <label for="confirmPassword" class="mb-2">Xác nhận mật khẩu</label>
                        <input th:field="*{confirmPassword}" class="form-control" type="password" id="confirmPassword"
                            name="confirmPassword" />
                        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorClass="text-danger"
                            th:errors="*{confirmPassword}"></p>
                    </div>

                    <div class="pt-2">
                        <input type="submit" value="Đăng Ký" class="btn btn-primary">
                        <a th:href="@{user/home}" class="btn btn-secondary">Hủy</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Footer-->
    <footer th:replace="user/fragments/footer :: footer"></footer>

    <!-- Bootstrap core JS-->
    <div th:replace="user/fragments/scripts :: scripts"></div>

</body>

</html>