<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/fragments/head :: head"></head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <nav th:replace="admin/fragments/nav :: nav"></nav>

        <aside th:replace="admin/fragments/aside :: aside"></aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Dự án từ thiện</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a th:href="@{/admin/home}">Trang Chủ</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/admin/project}">Quản Lý Dự Án</a></li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Main row -->
                    <div class="row">
                        <div class="col-12">
                            <a href="/admin/project/create" class="btn btn-primary mb-3">
                                <i class="bi bi-plus-circle-fill"></i> Thêm Mới Dự Án
                            </a>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Danh Sách Dự Án</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" id="projectDataTableWrapper">
                                    <table id="projectDataTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên dự án</th>
                                                <th>Ngày bắt đầu</th>
                                                <th>Ngày kết thúc</th>
                                                <th>Mục tiêu dự án</th>
                                                <th>Đã đạt được</th>
                                                <th>Thao Tác </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="project : ${projects}">
                                                <td th:text="${project.id}"></td>
                                                <td th:text="${project.name}"></td>
                                                <td th:text="${project.startTime}"></td>
                                                <td th:text="${project.endTime}"></td>
                                                <td th:text="${project.formattedTargetAmount}">0 VNĐ</td>
                                                <td th:text="${project.formattedCurrentAmount}">0 VNĐ</td>
                                                <td>
                                                    <a th:href="@{/admin/project/update/{id}(id=${project.id})}"
                                                        class="btn btn-warning">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </a>
                                                    <a th:href="@{/admin/project/delete/{id}(id=${project.id})}"
                                                        class="btn btn-danger btn-delete">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </a>
                                                    <a th:href="@{/admin/project/detail/{id}(id=${project.id})}"
                                                        class="btn btn-primary">
                                                        <i class="bi bi-eye"></i>
                                                    </a>
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


        <!-- Main Footer -->
        <footer th:replace="admin/fragments/footer :: footer"></footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <div th:replace="admin/fragments/script :: script"></div>
    <script th:src="@{/admin/dist/js/project.js}"></script>

</body>

</html>