<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="user/fragments/head :: head"></head>

<body>

    <!-- start body -->
    <div class="body py-5">
        <div class="container">
            <div class="w-50 m-auto">
                <!-- Thêm lớp "my-4" để tạo ra khoảng cách trên và dưới tiêu đề trang -->
                <!-- <h1 class="my-3 text-success text-center">Thanh toán thành công</h1> -->
                <!-- Sử dụng lớp "alert" và "alert-danger" để tạo ra thông báo lỗi -->
                <h2 class="mb-3 text-center">Chi tiết đơn hàng</h2>
                <!-- Sử dụng lớp "table" và "table-bordered" để tạo ra bảng hiển thị thông tin chi tiết đơn hàng -->
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="bg-primary text-white text-center fs-6">Giao Dịch Thành Công</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Mã giao dịch:</td>
                            <td><span th:text="${transactionId}">[transaction ID]</span></td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Tổng tiền:</td>
                            <td><span th:text="${totalPrice}">[total price]</span></td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Thời gian thanh toán:</td>
                            <td><span th:text="${paymentTime}">[payment time]</span></td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Nội dung giao dịch:</td>
                            <td><span th:text="${orderId}">[order ID]</span></td>
                        </tr>

                    </tbody>
                </table>
                <a href="/" class="btn btn-primary">Về trang chủ</a>
            </div>
        </div>
    </div>
    <!-- end body -->


    <footer th:replace="user/fragments/footer :: footer"></footer>
    <div th:replace="user/fragments/scripts :: scripts"></div>

</body>

</html>