<!doctype html>
<html lang="en">

<head th:replace="user/fragments/head :: head"></head>

<body>
  <!-- Navigation-->
  <nav th:replace="user/fragments/nav :: nav"></nav>
  <!-- hero -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 mx-auto mb-4">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1" th:text="${project.name}"></h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2" th:text="${project.startTime}"></div>
            <!-- Post categories-->
          </header>
          <!-- Preview image figure-->
          <img class="img-fluid rounded mx-auto mb-4" th:src="${project.thumbnail}" alt="...">
          <!-- Post content-->
          <section class="mb-5" th:utext="${project.content}">

          </section>
        </article>
      </div>
      <div class="col-lg-4">

        <div class="card mb-4">
          <div class="card-header">Quyên Góp</div>
          <div class="card-body">
            <div class="row">
              <p class="">
                Số tiền cần đạt được: <br> <span class="fw-bold" th:text="${project.formattedCurrentAmount}"></span> /
                <span class="fw-bold" th:text="${project.formattedTargetAmount}"></span>
              </p>
              <p class="">
                Ngày kết thúc <span th:text="${project.endTime}"></span>
              </p>
              <div class="col-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Quyên Góp Ngay
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Quyên Góp</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form th:action="@{/submitOrder}" id="idForm" method="post" th:object="${project}">
                          <div class="form-group mb-3">
                            <label for="amount">Mã Dự Án:</label>
                            <input type="number" class="form-control" id="projectId" th:field="*{id}" name="id"
                              readonly>
                          </div>
                          <div class="form-group mb-3">
                            <label for="amount">Tên Dự Án:</label>
                            <input type="text" class="form-control" id="projectName" th:field="*{name}" name="name"
                              readonly>
                          </div>
                          <div class="form-group mb-3">
                            <label for="amount">Số Tiền:</label>
                            <input type="number" class="form-control" id="amount" name="amount" required>
                          </div>
                          <div class="form-group mb-3">
                            <label for="orderInfo">Lời Nhắn:</label>
                            <input type="text" pattern="[a-zA-Z0-9 ]+" placeholder="Chỉ nhập chữ và số"
                              class="form-control" id="orderInfo" name="orderInfo" required>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button form="idForm" type="submit" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <footer th:replace="user/fragments/footer :: footer"></footer>
  <div th:replace="user/fragments/scripts :: scripts"></div>

</body>

</html>