<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="user/fragments/head :: head"></head>

<body>
    <!-- Navigation-->
    <nav th:replace="user/fragments/nav :: nav"></nav>
    <!-- hero -->
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light"> <span class="text-primary">SGU</span>Charity</h1>
                    <p class="lead text-muted">Cùng chung tay trao cơ hội, thắp sáng tương lai cho hàng ngàn sinh viên
                    </p>
                </div>
            </div>
        </section>
        <nav aria-label="Page navigation example" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/project(page=${currentPage - 1})}">Previous</a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                    th:classappend="${pageNum == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/project(page=${pageNum})}" th:text="${pageNum + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/project(page=${currentPage + 1})}">Next</a>
                </li>
            </ul>
        </nav>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row g-3 mb-4" >
                    <div class="col-4" th:each="project : ${projects}">
                        <div class="card shadow-sm">
                            <img th:src="${project.thumbnail}" alt="" style="height: 20rem; object-fit: cover;">
                            <div class="card-body">
                                <p class="truncate-2 card-text" th:text="${project.name}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a th:href="@{/project/detail/{id}(id=${project.id})}" type="button"
                                            class="btn btn-sm btn-outline-primary">Xem Chi
                                            Tiết</a>
                                    </div>
                                    <small class=" text-muted" th:text="${project.formattedTargetAmount}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer th:replace="user/fragments/footer :: footer"></footer>
    <div th:replace="user/fragments/scripts :: scripts"></div>

</body>

</html>
