<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="user/fragments/head :: head"></head>

<body>
    <!-- Navigation-->
    <nav th:replace="user/fragments/nav :: nav"></nav>

    <!-- hero -->
    <div class="container col-xxl-8 px-4 ">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://xdcs.cdnchinhphu.vn/446259493575335936/2023/7/25/dh-16902723190611350202437.jpg"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3"><span class="text-primary">SGU</span>Charity</h1>
                <p class="">
                    Hàng nghìn sinh viên tài năng đang khao khát được học tập và phát triển nhưng lại bị cản trở bởi
                    những khó
                    khăn về kinh tế, cơ sở vật chất thiếu thốn và những rào cản xã hội. Hãy cùng chúng tôi trao cho các
                    bạn cơ hội
                    được tỏa sáng. Mỗi sự đóng góp của bạn sẽ giúp các bạn trẻ tự tin hơn, vững tin hơn trên con đường
                    chinh phục
                    tri thức. Cùng nhau, chúng ta xây dựng một thế hệ trẻ đầy nhiệt huyết và năng động, sẵn sàng đóng
                    góp cho sự
                    phát triển của đất nước.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary px-4 me-md-2">Tham Gia Ngay</button>
                    <button type="button" class=" btn btn-outline-secondary px-4">Tìm Hiểu Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="user/fragments/footer :: footer"></footer>
    <div th:replace="user/fragments/scripts :: scripts"></div>

</body>

</html>